{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1 class="title">{{ title }}</h1>
    
    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
    {% endif %}

    {% if title == 'All Posts' %}
        {% if user.is_authenticated %}
            <!-- message -->
            <!-- TODO: notify user that post is posted -->
            {% if messages %}
            <div class="success-message">
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <form class="new-post-form" action="{% url 'new_post' %}" method="POST">
                {% csrf_token %}
                <!-- TODO: using django, make the text area 5 rows and the col follow the screen size with some padding-->
                <textarea name="content" cols="50" rows="5" placeholder="Content" required></textarea>
                <input type="submit" value="Post">
            </form>
        {% endif %}
    {% endif %}
    

    <!-- if page_obj is empty, display no post-->
    {% if page_obj.paginator.count == 0 %}
        <p>No post</p>
    {% endif %}    
    
    <ul>
        {% for post in page_obj %}
            <li class="post">
                <a href="{% url 'profile' user_id=post.user.id %}"><strong>{{ post.user.username }}</strong></a>
                <p class="post-content" data-post-id="{{ post.id }}">{{ post.content }}</p>
                <p>{{ post.timestamp }}</p>
                <p>Likes: <span class="like-count" data-post-id="{{ post.id }}">{{ post.likes.count }}</span></p>
                {% if user.is_authenticated %}
                    <button class="like-btn {% if post.like_by_user %}liked{% endif %}" data-post-id="{{ post.id }}">Like</button>
                {% endif %}
                

                {% if post.user == request.user %}
                    <button class="edit-post-btn" data-post-id="{{ post.id }}">Edit</button>
                    <div class="edit-post-form" hidden data-post-id="{{ post.id }}" data-original-content="{{ post.content }}">
                        <textarea class="edit-post-textarea" name="content" cols="30" rows="5"></textarea>
                        <button class="save-post-btn" data-post-id="{{ post.id }}">Save</button>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}