{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>New Post</h1>

    <form action="{% url 'new_post' %}" method="post" id="newPostForm">
        {% csrf_token %}
        <div class="form-group">
            <textarea class="form-control resizable-textarea" name="content" placeholder="Content" required></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Post">
    </form>
    <p id="message"></p>
{% endblock %}


{% block script %}
    <!-- project 4\project4\network\static\network\new_post.js -->
    <script src="{% static 'network/new_post.js' %}"></script>
{% endblock %}
